#hero {

    h2 {
      font-family: 'Inter', 'Noto Sans', sans-serif;
      font-size: 1.5em;
      margin: 0;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  
    p {
      font-size: 1.15rem;
      line-height: 1.6;
      max-width: 800px;
      color: #d1d5db;
    }
  
    .about-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 35px;
      .profile-container {
        position: relative;
        &.primary {
          width: 60%;
        }
        &.secondary {
          width: 30%;
        }
        .btn-align {
          margin-top: 30px;
          display: flex;
          gap: 20px;
        }
        #lottie-animation {
          pointer-events: none; 
        }
        img.flex-item {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 9;
        }
      }
    }
  } 

  @media (max-width: 1025px) {
    #hero .about-flex {
      flex-direction: column-reverse;
    }
    #hero .about-flex .profile-container.primary {
      width: 100%;
    }
    #hero .about-flex .profile-container.secondary {
      width: 42%;
      align-self: flex-start;
    }
    #hero {
      padding: 65px 20px 115px;
    }
  }

  @media (max-width: 699px) {
    #hero {
      margin: 0 auto;
      max-width: 90%;

      h1 {
        font-size: 4.5em;
      }
      h2 {
        font-size: 1.4em;
        letter-spacing: 0;
      }
      p {
        font-size: 1em;
        line-height: 1.6;
      }
    }
  }

  @media (max-width: 500px) {
    #hero .about-flex .profile-container.secondary {
      width: 70%;
      align-self: center;
    }
    #hero {
      padding: 30px 0 115px;
    }
  }

  @media (max-width: 475px) {
    .btn {
      color: #fff;
      padding: 12px 15px;
      font-size: 0.9rem;
      letter-spacing: 0;
    }
  

  }

  @media (max-width: 400px) {
    #hero {
      h1 {
        font-size: 4em;
      }
    }
  }