.intro-section {
    color: #fff;
    padding: 180px 0;
  
    .inner-contain {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 0 50px;
    }

    .fw {
        width: 100%;
    }
  
    h2 {
      font-size: 2.5em;
    }
  
    p {
      font-size: 1.1em;
      margin: 0;
      font-size: 1.1em;
      line-height: 1.8;
      margin: 0;
    }

    .intro-left {
        width: calc(30% - 50px);
        background-image: linear-gradient(
            to right,
            #162d57 0%,
            #32397f 50%,
            #633ea4 100%
        );
        border-radius: 50% 0 0 0;
        padding-top: 50px;
        position: relative;

        img {
            width: 100%;
            transform: translateY(5px);
        }
        .sparkle {
          position: absolute;
          right: 0;
          transform: translateX(50%);
        }
    }

    .intro-right {
        width: calc(60% - 50px);
        max-width: 800px;

        .logo-section {
          margin: 35px 0 0 0;
          position: relative;
          display: flex;
          gap: 30px;
          justify-content: flex-start;
          flex-wrap: wrap;

          img {
            width: 90px;
          }
      }
    }
  }

  // Media Queries
  @media (min-width: 1850px) {
    .sparkle svg {
      height: 300px;
      width: 300px;
    }
  }

  @media (max-width: 1550px) {
    .intro-section .inner-contain {
      align-items: flex-start;
    }
  }

  @media (max-width: 1000px) {
    .intro-section .inner-contain {
      justify-content: flex-start;
      gap: 50px;
    }
    .intro-section .intro-left {
      width: 100%;
      max-width: 250px;
    }
    .intro-section .intro-right {
      width: 100%;
      max-width: 800px;
    }
    .intro-section h2 {
      font-size: 2em;
    }
    .fw h2 {
      margin-bottom: 0;
    }
  }

  @media (max-width: 699px) {
    .intro-section {
        margin: 0 10%;
        max-width: 100%;
    }
}  